.explicas{
    h1{
        font-size: 2.5em;

    }
    p{
        font-size: 1.3em;
        color: black;
        font-weight: 400;
    }
    
}


.liftCard{
    
background: rgba(151, 40, 172, 0.51);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.8px);
-webkit-backdrop-filter: blur(6.8px);
border: 1px solid rgba(151, 40, 172, 1);

    p{
        color: black;
        
        font-weight:500;
        font-size: 1.1em;
    }
    


}

