body{
    margin: 0;
    background-color: rgb(224, 221, 221);
}


*{
    box-sizing: border-box !important;
}

.postimage{
    img{
        height: 300px;
    }
}

.headerLogo{
    background-image: linear-gradient(to right, rgba(19, 1, 1, 0.418), rgb(104, 0, 0), red  );

}
    

.post-list{
    height: 70svw;
    height: fit-content;
}


.post-list:hover{
    box-shadow: 1px 1px 10px  black ;
}

.post-card{
    height:100%;
    overflow: hidden;
}


.post-description{
    height: 15em;
    overflow: hidden;
}

.post-meta{
    min-height: 30%;    
    height: 20%;
}

#headerLink:hover{
    text-decoration: underline;
}

#headerLink{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
 .bg-dark{
    background-color: black !important;
 }


footer{ 
    background-color: black;
    color: white;
    a{
        color: white;
    }

}

.formdiv{
    background: rgb(78,16,16);
background: radial-gradient(circle, rgba(78,16,16,1) 0%, rgba(34,3,3,1) 35%, rgba(108,3,3,1) 100%);
color: whitesmoke;
}


