<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planilhas de Treino</title>

    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../boostrap5/css/bootstrap.min.css">
    <script src="../boostrap5/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/coach.css">

</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid" style="background-color: black;" >
            <div class="headerLogo">

                <a target="_self" href="../index.html">
                    <img src="../img/logo.png" style="width: 6em;"> 
                </a>
            </div>

            <div  id="navbarDark">            
                <ul class="nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link" id="headerLink" href="powerlifting.html">O que é Powerlifting?</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" id="headerLink" href="recordform.html">Recordes</a>
                    </li>                  
                            
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="headerLink" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Educação
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="z-index: +1;">                                                                      
                          <li><a class="dropdown-item" href="recomendad.html">Livros/Cursos</a></li> 
                          <li><a class="dropdown-item" href="planilhas.html">Planilhas de Treino</a></li>  
                          <li><a class="dropdown-item" href="colaboradores.html">Treinadores/Colaboradores</a></li>                                              
                        </ul>
                    </li>                       
                </ul>
            </div>                        

                <form class="d-flex">
                    <input class="form-control me=2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>

        </div>
    </nav>  

    <div class="container mt-5">
        <div class="row text-center p-5">
            <div class="col-12">
                <img src="../img/sad.png">
            </div>
            <div class="col-12 mt-3">
                <p style="color: gray;" class="fw-bold">Ops, essa página ainda está em construção. <br>Estamos trabalhando nisso!</p>                
            </div>

            
        </div>
    </div>




<footer class="text-center text-lg-start pt-1 mt-5">
 
  
        
        <section class="mt-5">
          <div class="container text-center text-md-start mt-5">        
            <div class="row mt-3">      
                 
              <!-- Sobre a "empresa"-->       
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  <img class="headerLogo" src="../img/logo.png" style="width: 3em;">
                  Powerlifting Brasil
                </h6>
                <p>
                  Somos uma organização formada com o intuito de divulgar conhecimento sobre
                  o Powerlifting, um esporte ainda em ascenção no Brasil.              
                </p>
                <p>
                    Divulgando as principais noticias e convidando treinadores e atletas experientes
                    a compartilharem seu conhecimento.
                </p>
              </div>              

                <!-- Links -->                    
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">                
                <h6 class="text-uppercase fw-bold mb-4">
                  Links
                </h6>
                <p>
                    <a class="text-reset" id="headerLink" href="powerlifting.html">O que é Powerlifting?</a>
                </p>
                <p>
                    <a class="text-reset" id="headerLink" href="recordform.html">Recordes</a>
                </p>
                
                <p>
                    <a class="text-reset" id="headerLink" href="recomendad.html">Livros/Cursos</a>
                </p>
                <p>
                    <a class="text-reset" id="headerLink" href="planilhas.html">Planilhas de Treino</a>
                </p>
                <p>
                    <a id="headerLink" href="colaboradores.html">Treinadores/Colaboradores</a>              
                </p>
              </div>
        
    
              <!-- Contato -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
             
                <h6 class="text-uppercase fw-bold mb-4">Fale Conosco</h6>
                <p>
                  <img src="../img/mail.png" width="30em">
                  powerlbrazil@gmail.com
                </p>
                <p>
                    <img src="../img/telephone.png" width="30em"> 
                    +55 54 981193443
                </p>
                
              </div>
          
            </div>
        
          </div>
        </section>     
      
      
        <div class="text-center p-4">
          © 2024 Copyright:
          <a class="text-reset fw-bold" href="index.html">Brasil Powerlifting</a>
        </div>
      
      </footer>
</body>
</html>