<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melhore a finalização do seu Deadlift</title>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../boostrap5/css/bootstrap.min.css">
    <script src="../boostrap5/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/post.css">
</head>
<body>
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">     

        <div class="container-fluid" style="background-color: black;" >
            <div class="headerLogo">

                <a target="_self" href="../index.html">
                    <img src="../img/logo.png" style="width: 6em;"> 
                </a>
            </div>

            <div  id="navbarDark">            
                <ul class="nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link" id="headerLink" href="powerlifting.html">O que é Powerlifting?</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" id="headerLink" href="recordform.html">Recordes</a>
                    </li>                  
                            
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="headerLink" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Educação
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">                                                                      
                          <li><a class="dropdown-item" href="recomendad.html">Livros/Cursos</a></li> 
                          <li><a class="dropdown-item" href="planilhas.html">Planilhas de Treino</a></li>  
                          <li><a class="dropdown-item" href="colaboradores.html">Treinadores/Colaboradores</a></li>                                              
                        </ul>
                    </li>                       
                </ul>
                            </div>                        

                <form class="d-flex">
                    <input class="form-control me=2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>

               

        </div>
    </nav>  

<div class="container">
    <div class="row my-5">
        <div class="col-md-4"></div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-8 colg-xl-8 text-center">
            <div class="tittle fw-bold mb-5">
                <h3>Melhore a finalização do seu Deadlift</h3>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="post-meta mx-2 my-5">
            <div>

              <a>
                <img src="../img/leleo.jpg" style="width: 50px; ;border-radius: 50%; display: inline;">
                <p style="color: gray; ;display: inline;">Leonardo Veloso</p>
                <br>
              </a>
            </div>
            <div class="my-3">
              <span class="mx-2 my-5">
                <img src="../img/calendar.png" style="width: 30px; ;display: inline-block;">
                <p class="px-1" style="color: gray; ;display: inline;" >07/07/2024</p>
              </span>
            </div>
        </div>

      </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class="article justify">
                <p>
                  O Primeiro passo para um <strong> lockout eficiente,</strong> é preocupar-se com uma boa <strong>posição de saída.</strong>.                
                </p>
                <p>
                  Tentar manter a <strong>lombar o mais neutra possível</strong> é quase sempre a melhor opção, tentando evitar <strong>arrendondamento ou extensão</strong> muito grandes                
                </p>
                <img  width="100%" src="../img/lockoutterra.png" class="text-center img-thumbnail">
                <p>
                  Muitas vezes, o levantador fica <strong>afobado</strong> para tirar o peso do chão e, por isso,
                  acaba <strong>comprometendo sua postura.</strong>
                </p>
                <p>Uma dica valiosa portanto, é praticar a <strong>paciência</strong></p>
                <p>Antes de iniciar o levantamento concentre-se em criar uma sólida tensão em suas costas, posicionando as escápulas para baixo como se estivesse executando uma puxada.</p>
                <p>Além disso, aplica uma boa tensão com as pernas, como em um leg press.</p>
                
                <ul style="list-style-type: none;" class="text-center">
                  <li>
                    <h5>Variações para treinar <strong>Tensão + Paciência</strong></h5>            
                  </li>
                    <img src="../img/variacoesterra.png" class="img-thumbnail" width="100%">                                 
                    <li class="mt-5">                    
                   <h5>
                     Variações para desenvolver <strong>força de hip hinge e costas</strong>
                    </h5> 
                  </li>
                    <img src="../img/variacaoeship.png" class="img-thumbnail" width="100%">
                </ul>
                
                <p>Além disso, existem outros pontos cruciais que podem ser muito úteis:</p>
                <ul>
                  <li>
                    Utilizar talco para permitir que a barra deslize com mais facilidade
                  </li>

                  <li>
                    Tirar a folga da barra antes de inicior o movimento
                  </li>

                  <li>
                    Imaginar os braços como cordas, sem usar eles para puxar
                  </li>                  
                </ul>

                <p>
                  Também é importante ressaltar que enfrentar dificuldades no lockout <strong>não necessariamente</strong>
                  indica um problema; pode ser apenas uma <strong>característica individual</strong> do seu levantamento.
                  <br>
                  Afinal é esperado que todos tenhamos um <strong>ponto de maior dificuldade</strong>, conhecido como <strong>
                    sticking point,</strong> durante o movimento.
                </p>


            </div>
        </div>


    </div>
</div>








<footer class="text-center text-lg-start pt-1 mt-5">
 
  
        
        <section class="mt-5">
          <div class="container text-center text-md-start mt-5">        
            <div class="row mt-3">      
                 
              <!-- Sobre a "empresa"-->       
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  <img class="headerLogo" src="../img/logo.png" style="width: 3em;">
                  Powerlifting Brazil
                </h6>
                <p>
                  Somos uma organização formada com o intuito de divulgar conhecimento sobre
                  o Powerlifting, um esporte ainda em ascenção no Brasil.              
                </p>
                <p>
                    Divulgando as principais noticias e convidando treinadores e atletas experientes
                    a compartilharem seu conhecimento.
                </p>
              </div>              

                <!-- Links -->                    
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">                
                <h6 class="text-uppercase fw-bold mb-4">
                  Links
                </h6>
                <p>
                    <a class="text-reset" id="headerLink" href="powerlifting.html">O que é Powerlifting?</a>
                </p>
                <p>
                    <a class="text-reset" id="headerLink" href="recordform.html">Recordes</a>
                </p>
                
                <p>
                    <a class="text-reset" id="headerLink" href="recomendad.html">Livros/Cursos</a>
                </p>
                <p>
                    <a class="text-reset" id="headerLink" href="planilhas.html">Planilhas de Treino</a>
                </p>
                <p>
                    <a id="headerLink" href="colaboradores.html">Treinadores/Colaboradores</a>              
                </p>
              </div>
        
    
              <!-- Contato -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
             
                <h6 class="text-uppercase fw-bold mb-4">Fale Conosco</h6>
                <p>
                  <img src="../img/mail.png" width="30em">
                  powerlbrazil@gmail.com
                </p>
                <p>
                    <img src="../img/telephone.png" width="30em"> 
                    +55 54 981193443
                </p>
                
              </div>
          
            </div>
        
          </div>
        </section>     
      
      
        <div class="text-center p-4">
          © 2024 Copyright:
          <a class="text-reset fw-bold" href="index.html">Brasil Powerlifting</a>
        </div>
      
      </footer>


</body>
</html>