<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Brasil Powerlifting</title>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../boostrap5/css/bootstrap.min.css">
    <script src="../boostrap5/js/bootstrap.bundle.min.js"></script>
    <link href="../css/powerlifting.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../img/logo.png">

<body>
  
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid" style="background-color: black;" >
            <div class="headerLogo">

                <a target="_self" href="../index.html">
                    <img src="../img/logo.png" style="width: 6em;"> 
                </a>
            </div>

            <div  id="navbarDark">            
                <ul class="nav">
                    <li class="nav-item mx-2">
                        <a class="nav-link" id="headerLink" href="powerlifting.html">O que é Powerlifting?</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" id="headerLink" href="recordform.html">Recordes</a>
                    </li>             
                            
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" id="headerLink" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Educação
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">                                                                      
                          <li><a class="dropdown-item" href="recomendad.html">Livros/Cursos</a></li> 
                          <li><a class="dropdown-item" href="planilhas.html">Planilhas de Treino</a></li>  
                          <li><a class="dropdown-item" href="colaboradores.html">Treinadores/Colaboradores</a></li>                                              
                        </ul>
                    </li>                       
                </ul>
            </div>                        

                <form class="d-flex">
                    <input class="form-control me=2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>

        </div>
    </nav>  
    
    <div class="container">
      <!-- explicação simplificada-->
      <div class="justify-content-center explicas">
        <h1 class="text-center mt-5 mb-5 fw-bold">Powerlifting</h1>
        <p>
          O Basismo (levantamentos básicos), internacionalmente chamado de Powerlifting, é um esporte praticado por todo o planeta, tanto em sua forma competitiva, quanto como meio de aumentar 
          sua perfomance em outro esporte ou para qualquer outro objetivo.
        </p>
        
        <p>
          A Força é o principal ingrediente do desempenho de um atleta dentro de uma competição.
        </p>
        
        <p>
          Os atletas competem em três disciplinas específicas, cada uma projetada para medir diferentes áreas da força humana. <br>          
          As três disciplinas, em ordem de competição, que compõem o esporte são: agachamento, supino e levantamento terra.   <br>       
          A soma, do melhor levantamento válido de cada disciplina, determina o vencedor de cada categoria.
        </p>        
        <p>
          Atletas, mulheres e homens a partir de 14 anos, distribuidos em diferentes faixas etárias de idade e peso corporal, competem acirradamente para serem os melhores de suas categorias.</p>
        </p>
      </div>
      
      <div class="row">
        <div class="col-lg-4 col-xl-4">
          <div class="liftCard my-2">

            <h4 class="text-center my-2">Agachamento</h4>
            <div class="center-block">
              <figure>
                <img src="../img/squat.jpg" style="width: 80%;" class="mx-auto d-block">
                <figcaption class="text-center">Rogério Almeida, agachando 295kg</figcaption>
              </figure>
            </div>
            
            <p class="text-center py-1 px-3">O levantador acomoda a barra na altura dos ombros (por cima dos deltoides) e com a ordem de iniciar o 
              movimento do árbitro central, abaixa-se até que o topo da crista ilíaca esteja abaixo do topo do joelho, ocasião em que deve 
              então reerguer-se e voltar a posição inicial.
            </p>
          </div>

        </div>

        <div class="col-lg-4 col-xl-4">
          <div class="liftCard my-2" style="position: relative; top:3svh">

            <h4 class="text-center my-2">Supino</h4>
            <div class="center-block">
              <figure>
                <img src="../img/bench.png" style="width: 80%;" class="mx-auto d-block">
                <figcaption class="text-center">Eduardo Saramago, supinando 150kg</figcaption>
              </figure>
            </div>
            
            
            <p class="text-center py-1 px-3">O levantador, deitado num banco, retira a barra do suporte e com a autorização de início do árbitro central, 
              desce-a até encostar no tórax mantendo-a imóvel até um comando do árbitro. Após receber a ordem, o atleta empurra a barra até a 
              extensão máxima dos cotovelos, retornando a barra para o suporte.
            </p>
          </div>

        </div>

        <div class="col-lg-4 col-xl-4">
          <div class="liftCard my-2" style="position: relative; top: 6svh;">

            <h4 class="text-center my-2">Levantamento Terra</h4>
            <div class="center-block">
              <figure>
                <img src="../img/deadlift.png" style="width: 80%;" class="mx-auto d-block">
                <figcaption class="text-center">Giulia Caravalho, levantando 160kg</figcaption>
              </figure>
            </div>
            
            
            <p class="text-center py-1 px-3">O levantador puxa uma barra que está no chão até que seu corpo assuma uma postura ereta com os joelhos estendidos 
              e os ombros para trás. Após o comando do árbitro central, a barra deve ser devolvida ao chão sob controle do atleta.
            </p>
          </div>

        </div>







      </div>





    </div>





    <div>
      <br>
      <br>
    </div>

    <footer class="text-center text-lg-start pt-1 mt-5">
 
  
        
        <section class="mt-5">
          <div class="container text-center text-md-start mt-5">        
            <div class="row mt-3">      
                 
              <!-- Sobre a "empresa"-->       
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  <img class="headerLogo" src="../img/logo.png" style="width: 3em;">
                  Powerlifting Brazil
                </h6>
                <p>
                  Somos uma organização formada com o intuito de divulgar conhecimento sobre
                  o Powerlifting, um esporte ainda em ascenção no Brasil.              
                </p>
                <p>
                    Divulgando as principais noticias e convidando treinadores e atletas experientes
                    a compartilharem seu conhecimento.
                </p>
              </div>              

                <!-- Links -->                    
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">                
                <h6 class="text-uppercase fw-bold mb-4">
                  Links
                </h6>
                <p>
                    <a class="text-reset" id="headerLink" href="powerlifting.html">O que é Powerlifting?</a>
                </p>
                <p>
                    <a class="text-reset" id="headerLink" href="recordform.html">Recordes</a>
                </p>
              
                <p>
                    <a class="text-reset" id="headerLink" href="recomendad.html">Livros/Cursos</a>
                </p>
                <p>
                    <a class="text-reset" id="headerLink" href="planilhas.html">Planilhas de Treino</a>
                </p>
                <p>
                    <a id="headerLink" href="colaboradores.html">Treinadores/Colaboradores</a>              
                </p>
              </div>
        
    
              <!-- Contato -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
             
                <h6 class="text-uppercase fw-bold mb-4">Fale Conosco</h6>
                <p>
                  <img src="../img/mail.png" width="30em">
                  powerlbrazil@gmail.com
                </p>
                <p>
                    <img src="../img/telephone.png" width="30em"> 
                    +55 54 981193443
                </p>
                
              </div>
          
            </div>
        
          </div>
        </section>     
      
      
        <div class="text-center p-4">
          © 2024 Copyright:
          <a class="text-reset fw-bold" href="index.html">Brasil Powerlifting</a>
        </div>
      
      </footer>
    
</body>
</html>