.formdiv{
    background: rgb(78,16,16);
background: radial-gradient(circle, rgba(78,16,16,1) 0%, rgba(34,3,3,1) 35%, rgba(108,3,3,1) 100%);
color: whitesmoke;
}

#nacionaisheader{
    background: rgb(0,77,232);
    background: radial-gradient(circle, rgba(0,77,232,0.9178046218487395) 0%, rgba(255,254,0,0.9009978991596639) 50%, rgba(6,147,4,1) 100%);
}

